.main-container {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.edit-container {
  display: flex;
  justify-content: center;
}

.Event-modal {
  position: absolute;
  top: 40px;
  bottom: 40px;
  left: 40px;
  right: 40px;
  border-radius: 15px;
  z-index: 1000;
  transition: 0.2s linear;
  opacity: 1;
  transform: translateX(0px);
  transform: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.Event-modal-closed {
  opacity: 0;
  transform: translateX(-2000px);
  transition: 0.1s linear;
}

.NavBar {
  z-index: 1002;
  position: fixed;
  top: 40px;
  left: 40px;
  right: 40px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: white 1px solid;
  display: flex;
  flex-direction: row;
}

.Tab-Panel{
  position: relative;
  padding-top: 80px;
  width: 100%;
  height: auto;
  background-color: white;
}
