.Join-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Join-modal {
  border-radius: 15px;
  overflow-y: auto;
  box-shadow: 3px 3px 5px 4px #ccc;
  padding: 30px;
}

.Join-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
