.edit-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.add-item-column {
  min-width: 300px;
  width: 25%;
  background-color: rgb(247, 237, 202);
  padding: 20px;
  border-radius: 2%;
  margin: 5px;
  text-align: center;
}

.list-column {
  min-width: 300px;
  width: 25%;
  background-color: rgb(247, 237, 202);
  padding: 20px;
  border-radius: 2%;
  margin: 5px;
  text-align: center;
}

.modal {
  position: absolute;
  top: 40px;
  bottom: 40px;
  left: 40px;
  right: 40px;
  z-index:100;
  background-color: white;
  border: 1px solid black;
}