body {
  color: black;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  color: #003366;
}

header {
  text-align: center;
}

footer {
  text-align: center;
}

h2 {
  margin-top: 5px;
}